version: "3.1"

services:
  bot:
    build: .
    command: python src/scraper.py
    volumes:
      - .:/src
    restart: always
    env_file:
      - .env
  db:
    image: postgres:15.0
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    env_file:
      - .env
    restart: unless-stopped

volumes:
  postgres_data: