version: "3.1"

services:
  bot:
    build: .
    stdin_open: true
    tty: true
    command: python -m src.scraper
    volumes:
      - .:/src
    restart: always
    env_file:
      - .env
  db:
    image: postgres:15.0
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    env_file:
      - .env
    restart: unless-stopped
  dumps:
    image: prodrigestivill/postgres-backup-local
    restart: always
    volumes:
      - ./dumps:/backups
    depends_on:
      - db
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - SCHEDULE=@every 12h

    env_file:
      - .env

volumes:
  postgres_data: